:root {
    --pr-red: hsl(0, 100%, 74%);
    --pr-green: hsl(154, 59%, 51%);
    --sc-dark-green: hsl(154, 53%, 41%);
    --sc-light-green: hsl(154, 77%, 58%);
    --ac-blue: hsl(248, 32%, 49%);
    --ne-dark-blue: hsla(249, 10%, 26%, 0.25);
    --ne-grayish-blue: hsl(246, 25%, 77%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
} body {
    background-color: var(--pr-red);
    background-image: url(../images/bg-intro-desktop.png);
}

.content {
    margin: auto;
    display: flex;
    max-width: 1440px;
    height: 100vh;
}

.text-float {
    margin: auto;
    margin-right: 35px;
    width: 500px;
    height: fit-content;
    color: white;
}
.text-float h1 {
    font-size: 49px;
    line-height: 56px;
    margin-bottom: 32px;
}

.register-area {
    margin: auto;
    margin-left: 35px;
}
.card {
    margin-bottom: 20px;
    width: 490px;
    height: 64px;
    color: white;
    background: var(--ac-blue);
    border-radius: 15px;
    text-align: center;
    line-height: 64px;
    box-shadow: 0px 5px 0px var(--ne-dark-blue);
}

.formulary {
    padding: 35px;
    width: 420px;
    height: 380px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 0px var(--ne-dark-blue);
}
.form-group {
    display: flex;
    flex-direction: column;
    min-height: 72px;
    max-height: 80px;
}

.input-img-flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
}
.form-input {
    width: 420px;
    height: 45px;
    border: 1.5px solid var(--ne-grayish-blue);
    border-radius: 5px;
    text-indent: 20px;
    font-weight: 600;
}
.error-icon {
    display: none;
    position: absolute;
    margin: 11px 380px 0;
}
.message {
    display: none;
    margin-bottom: 20px;
    color: var(--pr-red);
    font-style: oblique;
    font-weight: 500;
    font-size: 12px;
}

.form-button {
    /* margin-top: 25px; */
    width: 424px;
    height: 50px;
    color: white;
    background: var(--pr-green);
    border: 1.5px solid var(--sc-dark-green);
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 2px;
    transition: 50ms ease;
}
.form-button:hover {
    height: 53px; margin-top: -3px;
    border-bottom-width: 4.5px;
}
.form-button:active {
    height: 50px; 
    margin-top: 3px; 
    margin-bottom: -3px;
    background-color: var(--sc-light-green);
    border-bottom-width: 1.5px;
    border-color: var(--pr-green);
}
.undertext {
    margin-top: 11px;
    color: var(--ne-grayish-blue);
    text-align: center;
    font-size: 11px;
}
.undertext .link {
    color: var(--pr-red);
    text-decoration: none;
    font-weight: 700;
}