:root {
    --pr-red: hsl(0, 100%, 74%);
    --pr-green: hsl(154, 59%, 51%);
    --ac-blue: hsl(248, 32%, 49%);
    --ne-dark-blue: hsla(249, 10%, 26%, 0.123);
    --ne-grayish-blue: hsl(246, 25%, 77%);
}

body {
    display: flex;
    background-color: var(--pr-red);
    background-image: url(../images/bg-intro-desktop.png);
    font-family: 'Poppins', sans-serif;
}